.venv/
__pycache__/
*.pyc

data/raw/
data/processed/*
!data/processed/oficial/
!data/processed/oficial/*.csv
!data/processed/validacao/
!data/processed/validacao/*.csv
!data/processed/curadoria/
!data/processed/curadoria/*.csv

.ipynb_checkpoints/
.DS_Store
